:root {
  --black: #212121;
  --primary: #23991f;
  --secondary: #07cc00;
  --tertiary: #2b6629;
}
body {
  color: var(--black);
  background-color: var(--black);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: var(--black);
  text-decoration: none;
}

.h2 {
  font-size: 30px;
}

.header {
  background-color: var(--primary);
  color: var(--black);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.nav__list-item {
  margin-left: 5px;
  margin-right: 5px;
}
.nav__link {
  color: var(--black);
  text-decoration: none;
  padding: 0.5rem;
  display: block;
  transition: all 0.3s ease-in-out;
}
.nav__link:hover {
  background-color: var(--secondary);
  color: #fff;
}
.nav__link--active {
  border-bottom: 1px solid white;
}
.swiper {
  width: 100%;
}
.img-slider {
  object-fit: contain;
}

.footer {
  background-color: var(--primary);
  color: var(--black);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__box {
  width: 100%;
  margin-bottom: 20px;
}
.footer__link {
  margin-right: 10px;
}

.icon {
  font-size: 24px;
}
.icon--white {
  color: #fff;
}
.white {
  color: #fff;
}

.harley-section {
  padding: 50px 0;
  background-color: var(--black);
}

.harley-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.harley-image {
  max-width: 100%;
}

.harley-link {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}
.harley-title {
  margin-left: 10px;
}
.harley-description {
  margin: 20px;
  font-size: 25px;
  line-height: 1.5;
}

.harley-link:hover {
  background-color: #666;
}

.subscribe {
  z-index: 2;
  position: fixed;
  bottom: 50px;
  right: 20px;
}
.subscribe__content {
  position: relative;
}
.subscribe__icon-button {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.subscribe__icon {
  font-size: 50px;
}
.subscribe__content-input {
  position: absolute;
  top: 0;
  right: 35px;
  z-index: -1;
  display: flex;
  align-items: center;
  height: 70.5px;
  background-color: var(--secondary);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.subscribe:hover .subscribe__content-input {
  width: 250px;
  padding-left: 10px;
  padding-right: 40px;
}

.subscribe__form {
  display: flex;
  column-gap: 5px;
}
.subscribe__float-button {
  background-color: var(--black);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .harley-content {
    flex-direction: row;
  }
  .harley-image {
    max-width: 50%;
    margin-right: 20px;
  }

  .footer {
    flex-direction: row;
    align-items: flex-start;
  }
}
